<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block content%} my website {% end block %}</title>
    <style> 
        body {font-family: Arial, Helvetica, sans-serif; padding: 20px;}
        header {background-color: black; color: azure; padding: 10px;}
        footer{background-color: blue; padding: 10px; margin-top: 20px;}
    </style>
</head>
<body>
    <header><h2>
        My site
    </h2> 
    <nav>
        <a href="/home">home</a>
         <a href="/about">aboutus</a>
    </nav>

    </header>
    {%block comtent %}
    
    {% endblock %}
    <footer>
        <p> @2025 we are best devloper </p>
    </footer>
</body>
</html>